/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
coverage/
dist/
node_modules/
.eslintcache
debug.log
wak.toml
locales/zh-Hans.json
proxy/proxy
proxy/wakatime-proxy
.env
proxy/tmp
proxy/.air.toml
